*{
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(255, 102, 0);
  color: white;
}

td{
  cursor: pointer;
}

button {
  cursor: pointer;
}

a{
  text-decoration: none;
}

.create-user-container {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 2% 0 10px;
}

.create-user-container form {
  background-color: paleturquoise;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

.submit-btn{
  margin-top: 10px;
}

.main-button {
  border-radius: 10px;
  padding: 4px;
  background-color: red;
  color: #fff;
}

.update-user-container{
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto ;
}
.update-user-container form {
  margin-top: 10%;
  background-color: paleturquoise;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}

.save-btn{
  margin-top: 15px;
}